body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
